.logo {
  margin-top: 10px;
}

.bar .buttons-right span {
  margin-left: 25px;
}

.cart-item {
  padding-left: 16px !important;
}

.bar.bar-positive {
  border-color: #009CDE;
  background-color: #009CDE;
}
