<ion-view>
  <ion-content class="padding cart">
    <div ng-if="cart.items.length">
      <h2>Shopping cart</h2>
      <hr>
      <div class="cart cart-item row" ng-repeat="item in cart.items">
        <div class="thumbnail col col-20">
          <img src="{{item.product.image}}" class="img-responsive" alt="Thumbnail">
        </div>
        <div class="info col col-50">
          <p>{{item.product.label | filter:limitTo:60}}</p>
          <p ng-if="item.product.sku">
            SKU: {{item.product.sku}}
            <i class="ion-trash-b" ng-click="removeItem(item._id)"></i>
          </p>
        </div>
        <div class="col cart line-total">
          <input ng-model="item.quantity"  ng-change="modifyQuantity(item._id,item.quantity)" type="number">
          <p class="price">{{item.lineTotal | bcCurrency}}</p>
          
        </div>
      </div>
      <div class="row cart total">
        <div class="col">
          <p>Order Total:</p>
          <p>{{cart.total | bcCurrency}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" ng-click="doCheckout()">Checkout with PayPal</button>
        </div>
      </div>
    </div>
    <div ng-if="!(cart.items.length)">
      <p>Yor cart is empty.</p>
    </div>
  </ion-content>
</ion-view>
