<ion-view>
  <ion-content class="padding order">
    <h2>Ship to</h2>
    <hr>
    <div class="address">
      <p>{{order.shipping.first}}&nbsp;{{order.shipping.last}}</p>
      <p>{{order.shipping.street}}</p>
      <p>{{order.shipping.zip}}&nbsp;{{order.shipping.city}}</p>
      <p>{{order.shipping.country}}</p>
    </div>
    <h2>Shopping cart</h2>
    <hr>
    <div class="cart cart-item row" ng-repeat="item in order.items">
      <div class="thumbnail col col-20">
        <img src="{{item.image}}" class="img-responsive" alt="Thumbnail">
      </div>
      <div class="info col col-50">
        <p>{{item.label | filter:limitTo:60}}</p>
        <p ng-if="item.sku">
          SKU: {{item.sku}}
        </p>
      </div>
      <div class="col cart line-total">
        Qty: {{item.quantity}}
        <p class="price">{{item.lineTotal | bcCurrency}}</p>
        
      </div>
    </div>
    <div class="row cart total">
      <div class="col">
        <p>Order Total:</p>
        <p>{{order.total | bcCurrency}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced" ng-click="updateOrder()">Place order</button>
      </div>
    </div>
  </ion-content>
</ion-view>
