<ion-view>
  <ion-content class="padding product">
    <div class="item item-body">
      <img class="img-responsive" ng-src="{{product.image}}">
    </div>
    <div class="card">
      <div class="item item-text-wrap description">
        {{product.description}}
      </div>
    </div>
    <div class="row">
      <div class="col col-67">
        <button class="button button-block button-dark" ng-click="addItem(product._id, 1)">Add to cart</button>
      </div>
      <div class="col tag">
        <p ng-if="product.brand">{{product.brand}}</p>
        <p class="old-price" ng-if="product.oldPrice">{{product.oldPrice | bcCurrency}}</p>
        <p ng-class="{'highlight': product.oldPrice}">{{product.price | bcCurrency}}</p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
