<ion-view>
  <ion-content class="padding">
    <div class="products">
      <div class="row" ng-if="$even" ng-repeat="product in products">
        <div class="col col-50">
          <div class="list card">
            <a ui-sref="app.product({ productId: products[$index]._id })">
              <div class="item item-image"><img class="img-responsive" ng-src="{{products[$index].image}}"></div>
            </a>
            <div class="item">
              <p class="label">{{products[$index].label | limitTo:24}} ...</p>
              <p class="brand" ng-if="products[$index].brand">{{products[$index].brand | uppercase}}</p>
              <p class="price">
                <span ng-if="products[$index].oldPrice" class="old-price">{{products[$index].oldPrice|bcCurrency}}</span>
                <span ng-class="{'highlight': products[$index].oldPrice}">{{products[$index].price|bcCurrency}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col col-50" ng-if="products[$index + 1]">
          <div class="list card">
            <a ui-sref="app.product({ productId: products[$index + 1]._id })">
              <div class="item item-image"><img class="img-responsive" ng-src="{{products[$index +1].image}}"></div>
            </a>
            <div class="item">
              <p class="label">{{products[$index].label | limitTo:24}} ...</p>
              <p class="brand" ng-if="products[$index + 1].brand">{{products[$index + 1].brand | uppercase}}</p>
              <p class="price">
                <span ng-if="products[$index + 1].oldPrice" class="old-price">{{products[$index + 1].oldPrice|bcCurrency}}</span>
                <span ng-class="{'highlight': products[$index + 1].oldPrice}">{{products[$index + 1].price|bcCurrency}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
